*{
    margin: 0;
    padding: 0;
}

.container {
    background: linear-gradient(to right bottom, darkblue, dodgerblue);
    width: 100%;
    min-height: 100vh;
    display: flex;
    jestify-content: center;
    align-items: center;
}

.app-wrapper {
    background-color: steelblue;
    min-width: 400px;
    min-height: 600px;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 2px 4px 30px darkred;
    margin-bottom: 10px;
}

.task-input {
    outline: none;
    width: 250px;
    padding: 15px;
    margin-right: 25px;
}

.button-add {
    outline: none;
    width: 100px;
    padding: 15px;
    margin-right: 25px;
    color: black;
    background: chocolate;
}

.button-complete {
    background: coral;
    margin: 10px;
}


